CONJOINING WIKIPEDIA DATA FRAME WITH COORDINATES FOR EACH POSTAL CODE

In [25]:
import pandas as pd

In [26]:
#Import dataframe created from wiki page
cpc_df3 = pd.read_csv('/resources/data/Canada.csv')

In [27]:
cpc_df3.head()

   Unnamed: 0 Postcode      Borough                           Neighbourhood
0           0      M1B  Scarborough                          Rouge, Malvern
1           1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2      M1E  Scarborough       Guildwood, Morningside, West Hill
3           3      M1G  Scarborough                                  Woburn
4           4      M1H  Scarborough                               Cedarbrae

In [28]:
#Drop 'Unnamed: 0' column
cpc_df3.drop('Unnamed: 0', 1, inplace=True)

In [29]:
#Create dataframe from coordinate data 
latlon_df = pd.read_csv('/resources/data/Geospatial_Coordinates.csv')
latlon_df.rename(columns={'Postal Code': 'Postcode'}, inplace=True)

In [30]:
latlon_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [31]:
#Merge the two frames 
cpc_df4 = pd.merge(cpc_df3, latlon_df, on='Postcode')

In [32]:
cpc_df4.head(15)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577